body {
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;  
    opacity: 0.9;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    height: 3.13rem;
    align-items: center;
    /* position: fixed; */
    top: 0px;
    border-bottom: 1px solid seashell;
    background-color: black;
    width: 100%;
}



nav ul {
    list-style: none;
    display: flex;
    margin-right: 0.45rem;
}

nav ul li {
    margin: 0.45rem;
}

section {
    display: flex;
    align-items: center;
}

.sectionOne {
    height: 40rem;
    margin-top: 3.13rem;
    /* background-image: url("./mission-background.jpeg"); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    width: 70rem;
    margin: auto;
}

.sectionOne div {
    display: flex;
    margin-top: 10rem;
    width: 70rem;
    background-color: black;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.sectionOne h2 {
    top: 20rem;
    position: absolute;
}

.sectionOne h4 {
    top: 25rem;
    position: absolute;
}

.logo {
    height: 2.27rem;
}


.sectionTwo {
    flex-direction: column;
    margin-top: 15rem;
}


 
.sectionTwo figure{
    display: inline-block;
    justify-content: center;
}

.sectionTwo figcaption {
    text-align: center;
    margin-top: 1.81rem;
}

.sectionTwo img{
    height: 9.09rem;
    width: 13.63rem;
    margin: -1.36rem;
}

.sectionThree {
    flex-direction: column;
    height: 40rem;
    margin-top: 3.13rem;
    background-image: url("./locations-background.jpeg");
    width: 70rem;
    margin: auto;
    justify-content: center;
    
    
    
    
}

/* .sectionThree h2 {
    display: flex;
    justify-content: center;
    width: 1200px;
    

} */

/* .sectionThree div {
    align-items: center;
    justify-content: center;
    
    
} */

.locations {
    height: 15rem;
    width: 13.63rem;
    background-color: black;
    margin: 4rem;
    display: inline-flex;
    text-align: center;
    opacity: 1;
}

footer {
    display: flex;
    flex-direction: column;
    height: 29.09rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.95rem;
    width: 100%;
}


#copyright {
    width: 100%;
    justify-content: start;
    margin-left: 3rem;
   
}

#location_text {
    margin: auto;
}

/* Style the navigation menu */
.topnav {
    /* overflow: hidden; */
    background-color: #333;
    position: relative;
   right: -173px;
    top: -25px;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  

  @media screen and (max-width: 422px) {
    body {
        overflow-x: hidden;
    }
    .sectionOne {
        width: 100%;
    }
    .logo {
        height: 7rem;
        z-index: 1;
        margin-top: 21rem;
        margin-left: 2rem;
    }
    .sectionOne div img{
        /* display: none; */
        width: 100%;
        
        margin-top: -25rem;
        z-index: 0;

    }

    .sectionOne h2 {
        margin-top: -25rem;
        font-size: 2.75rem;
        margin-left: .80rem;
        
    }
    
    .sectionOne h4 {
        margin-top: -19rem;
        text-align: center;
        font-size: 1.5rem;
    }
    .sectionTwo {
        /* margin-left: 3.40rem; */
        margin: 0 0 10rem 0;
        width: 100%;
    }
  
    .sectionTwo h2 {
        font-size: 2.75rem;
        text-align: center;
        margin-left: 1rem;
    }

    .sectionTwo img {
        height: 40rem;
        width: auto;
        
    }
    .sectionTwo figcaption {
        font-size: 1.5rem;;
    }
   
    .sectionTwo img {
        width: 20rem;
        height: auto;
    }
    .sectionTwo h4 {
        display: none;
    }
    .teas {
        margin-left: 1.6rem;
        overflow-x: hidden;
    }
    .sectionThree {
        width: 100%;
        
    }
    .sectionThree h2 {
        position: relative;
        bottom: -1rem;;
    }
    .locations {
        margin: 0px;
        width: 10rem;
        height: 13rem;
        padding-bottom: 2rem;

    }
    #locationOne{
        position: relative;
        top: 7rem;
        left: 2rem;
        margin: 0;
    }
    #locationTwo {
        position: relative;
        top: 8rem;
        left: 5.5rem;
        width: 15rem;
        margin: 0;
    }
    #locationThree {
        position: relative;
        bottom: 23rem;
        left: 14rem;
        margin: 0;
    }

    #copyright {
        width: 16rem;
        margin-right: 10rem;
    }
    #contact {
        margin-bottom: 10rem;
        

        margin-top: 15rem;
    }
   
    .desktopNav {
        display: none;
    }
    .footer {
        margin-left: 35.5rem;
        width: 100%;
        
        
    }



  }

@media screen and (max-width: 480px) and (min-width: 423px) {
    body {
        overflow-x: hidden;
    }
    .sectionOne {
        width: 100%;
    }
    .logo {
        height: 7rem;
        z-index: 1;
        margin-top: 21rem;
        margin-left: 2rem;
    }
    .sectionOne div img{
        /* display: none; */
        width: 100%;
        
        margin-top: -25rem;
        z-index: 0;

    }

    .sectionOne h2 {
        margin-top: -25rem;
        font-size: 2.75rem;
        margin-left: .80rem;
        
    }
    
    .sectionOne h4 {
        margin-top: -19rem;
        text-align: center;
        font-size: 1.5rem;
    }
    .sectionTwo {
        /* margin-left: 3.40rem; */
        margin: 0 0 10rem 0;
        width: 100%;
    }
  
    .sectionTwo h2 {
        font-size: 2.75rem;
        text-align: center;
        margin-left: 1.25rem;
    }

    .sectionTwo img {
        height: 40rem;
        width: auto;
        
    }
    .sectionTwo figcaption {
        font-size: 1.5rem;;
    }
   
    .sectionTwo img {
        width: 20rem;
        height: auto;
    }
    .sectionTwo h4 {
        display: none;
    }
    .teas {
        margin-left: 2rem;
        overflow-x: hidden;
    }
    .sectionThree {
        width: 100%;
        
    }
    .sectionThree h2 {
        position: relative;
        bottom: 10rem;;
    }
    .locations {
        margin: 0px;
        width: 10rem;
        height: 13rem;
        padding-bottom: 2rem;

    }
    #locationOne{
        position: relative;
        bottom: 3rem;
        left: 2rem;
        margin: 0;
    }
    #locationTwo {
        position: relative;
        top: 15rem;
        right: 5rem;
        width: 15rem;
        margin: 0;
    }
    #locationThree {
        position: relative;
        bottom: 18rem;
        left: 14rem;
        margin: 0;
    }

    #copyright {
        width: 16rem;
        margin-right: 12rem;
    }
    #contact {
        margin-bottom: 10rem;
        

        margin-top: 15rem;
    }
   
    .desktopNav {
        display: none;
    }
    .footer {
        margin-left: 35.5rem;
        width: 100%;
        
        
    }

}


@media  screen and (min-width: 500px) { 
    .topnav {
        display: none;
    }
}